.color-1-bg { background-color:#809ac6; }
.color-1-txt{ color:           #809ac6; }
.color-2-bg { background-color:#080403; }
.color-2-txt{ color:           #080403; }
.color-3-bg { background-color:#fcf7f9; }
.color-3-txt{ color:           #fcf7f9; }
.color-4-bg { background-color:#213563; }
.color-4-txt{ color:           #213563; }
.color-5-txt{ color:           #62a3cb; }
.color-5-bg { background-color:#62a3cb; }
.color-6-txt{ color:           #3d18b8; }
.color-6-bg { background-color:#3d18b8; }
.color-7-txt{ color:           #5eabc9; }
.color-7-bg { background-color:#5eabc9; }
.color-8-txt{ color:           #bed1e9; }
.color-8-bg { background-color:#bed1e9; }