/*correo*/
input[type=text], select, textarea,input[type=email]{
 width: 100%;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 resize: vertical;
}

label {
 padding: 12px 12px 12px 0;
 display: inline-block;
}

input[type=submit] {
 background-color: #fcf7f9;
 color: #080403;
 padding: 12px 20px;
 border-color: #080403;
 border-radius: 4px;
 cursor: pointer;
 float: right;
}

input[type=reset] {
 background-color: #080403;
 color: #fcf7f9;
 padding: 12px 20px;
 border-color: #fcf7f9;
 border-radius: 4px;
 cursor: pointer;
 float: right;
}

#corr{
  width: auto;
  height: auto;
}

.container {
 background-image: linear-gradient(#48bfe3, #fcf7f9);
 padding: 20px;
}

.colI{
   width: 100%;
   margin-top: 0;
}
 input[type=submit],  input[type=reset]{
   width: 50%;
   margin-top: 0;
 }
