@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html, body {
    width: 100%;
    height: 100%;
  }

#nav-bar {
    z-index: 500;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
  }
  
  #nav-bar-left {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: #fcf7f9;
    border-bottom: 4px solid rgb(33, 54, 83);
  }
  
  #nav-bar-right {
    display: flex;
    justify-content: start;
    align-items: center;
    width:40%;
    height: 50%;
    background-color: #fcf7f9;
    border-bottom: 4px solid rgb(33, 54, 83);
  }
  
  #nav-bar-logo {
    display: flex;
    justify-content:center;
    align-items:center;
    width:20%;
    height: 100%;
    background-color: #fcf7f9;
    border-radius: 0 0 80% 80%;
    border-bottom: 5px solid #213563;
  }
  
  #nav-bar-logo img {
    width: 70%;
    height: 70%;
  }
  
  .left-link {
    margin: 0 15px 0 0;
  }
  
  .right-link {
    margin: 0 0 0 15px;
  }
  
  .left-link, .right-link {
    font-family: 'Merriweather', serif;
  }