body {
}

#main-content {
    margin-top: ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

#header-text {
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content:center;

}


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#upper-text-text {
  background-color: #3d81b8;
  font-family: 'Libre Baskerville', serif;
  color: #fcf4f9;
  margin: 0;
  text-align: center;
  padding: 3ex;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-content:center;
    justify-content: center;
}

#upper-text-text h3 {
    width: 100%;
}

#upper-text-image {
  background-color: #5eabc9;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upper-text-image img {
    display: block;
    width: 80%;
    height: auto;
}


#team-picture {
    float: left;
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');
#histH{
  color: #fcf4f9;
  font-family: 'Crimson Text', serif;
  font-style: italic;
}

#team-picture img {
    display: block;
    width: 60%;
    height: 80%;
}

#history-text {
  display: flex;
  height: auto;
  width: 100%;

}

#history-text h2 {
    width: 80%;
}

#mision-and-vision {
    background-color: #080403;
    float: left;
    width: 100%;
    height: 30%;
    display: flex;
}
/*          LARA                */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

.ftwi{
  font-family: 'Old Standard TT', serif;
  display: flex;
  height: 100%;
  width: 100%;
}

#ddi{
  margin: 0;
  float: left;
  background-image: url('../image/nosotros/n1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

#dii{
  margin: 0;
  float: left;
  background-image: url('../image/nosotros/n4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#ti1{
  margin: 0;
  float: left;
  color: #fcf4f9;
  background-color: #080403;
}

#ti2{
  margin: 0;
  float: left;
  color: #080403;
  background-color: #fcf4f9;
}

.histext{
  margin: auto;
  padding: 1em;
  font-size: 23px;
}

.toimg{
  color: #fcf4f9;
}

#pif{
  padding: 0;
  margin: 0;
  height: 500px;
  background-image: url('../image/productos/louver/louver8.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#sif{
  padding: 0;
  margin: 0;
  height: 500px;
  background-image: url('../image/productos/mampara/mampara15.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.tiMV{
  height: 5em;
  background-color: #080403;
}

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,700;1,400&display=swap');

.mvt{
  font-family: 'Old Standard TT', serif;
  border-width: 2px;
  border: solid;
  padding: 2ex;
  border-color: #080403;
  background-color: #62a3cb;
  color: #080403;
}

#th2{
  float: right;
}

.histexti{
    text-align: justify;
    background-color: #080403;

}

/*            LARA              */
#mision-div {
    float: left;
    width: 50%;
    height: ;
    display: flex;
    flex-flow: column;
}

#vision-div {
    float: left;
    width: 50%;
    height: ;
    display: flex;
    flex-flow: column;
}

.title-section {
    width: 100%;
    text-align: center;
}

.text-section {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

@media screen and (max-width: 380px) {
    #upper-text-text h3{
      line-height: normal;
        font-size: 1rem;
    }
    #team-picture img {
        width: 90%;
    }
}
/*        margen        */

@media only screen and (max-width:992px) {
  #upper-text {
    margin-top:58px;
    margin-bottom: 2em;
    float: left;
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width:992px){
  #upper-text {
    margin-top:56px;
    margin-bottom: 2em;
    float: left;
    width: 100%;
    height: auto;
  }
}
/*        margen        */

@media screen and (max-width: 768px) {
  #upper-text-text {
    width: 100%;
    height: auto;
  }

  #upper-text-text h3{
    font-size: 2ch;
  }

  #upper-text-image {
    width: 100%;
    height: auto;
  }

  #mision-and-vision {
    flex-flow: column;
    height: 50%;
  }

  #mision-div {
    width: 100%;
  }

  #vision-div {
    width: 100%;
  }

  #team-picture {
    float: left;
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }

  #team-picture img {
    width: 86%;
  }

  .tex_img_b, .divtxt, .divimg{
    width: 100%;
  }
  .tex_img_b{
    height: 700px;
  }
  .divimg, .divtxt{
    width: 100%;
    height: 350px;
  }

  .histexti{
    padding: 1em;
    font-size: 21px;
    width: 100%;
    height: auto;
  }

}

@media only screen and (min-width: 768px) {
    .tex_img_b{
      width: 100%;
      height: 350px;
      padding: 0;
      margin: 0;
    }
    .divimg, .divtxt{
      width: 50%;
      height: 100%;
    }

    .histexti{
      padding: 1ex;
      flex-direction: column;
      width: 25%;
      height: 100%;

    }

}

.tmv{
  padding:10px;
  color: #fcf7f9;
}
/*      Media para texto de Mision y Vision*/
@media only screen and (min-width:770px){
  .tmv{
    font-size: 2.6vw;
  }
  .mvt h3{
    font-size: 2.2vw;
  }
}

@media only screen and (max-width:770px){
  .tmv{
    font-size: 25px;
  }
  .mvt h3{
    font-size: 18px;
  }
}
/*      Media para texto de Mision y Vision*/
/*      Media para texto de historia 1 y 2*/
@media only screen and (max-width:892px){
  .histext{
    font-size: 18px;
  }
}

@media only screen and (min-width:1599px){
    .histexti{
      font-size: 1.6vw;
    }
}
@media only screen and (max-width:1599px){
    .histexti{
      font-size: 23px;
    }
}
@media only screen and (max-width:1472px){
    .histexti{
      font-size: 22px;
    }
}
@media only screen and (max-width:1348px){
    .histexti{
      font-size: 21px;
    }
}
@media only screen and (max-width:1119px){
  .histexti{
      font-size: 20px;
  }
}
@media only screen and (max-width:983px){
  .histexti{
      font-size: 19px;
  }

}
@media only screen and (max-width:923px){
  .histexti{
      font-size: 18px;
  }
}
@media only screen and (max-width:827px){
  .histexti{
      font-size: 17px;
  }
}
@media only screen and (max-width:680px){
  .histexti{
      background-color: rgba(0, 0, 0, 0.5);
  }
}
/*      Media para texto de historia 1 y 2*/
