body {
    background-color: #fcf4f9;
}

#main-content {
    margin-top: .4vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

#header-text {
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content:center;

}

@media only screen and (min-width:380px){

    #upper-text {
      margin-top:8.8vh;
      margin-bottom: 2em;
      float: left;
      width: 100%;
      height: auto;
    }
}

@media only screen and (max-width:380px) {

  #upper-text {
    margin-top:2.5vh;
    margin-bottom: 2em;
    float: left;
    width: 100%;
    height: auto;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#upper-text-text {
  background-color: #3d81b8;
  font-family: 'Libre Baskerville', serif;
  color: #fcf4f9;
  margin: 0;
  text-align: center;
  padding: 3ex;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-content:center;
    justify-content: center;
}

#upper-text-text h3 {
    width: 100%;
}

#upper-text-image {
  background-color: #5eabc9;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upper-text-image img {
    display: block;
    width: 80%;
    height: auto;
}


#team-picture {
    float: left;
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');
#histH{
  color: #080403;
  font-family: 'Crimson Text', serif;
  font-style: italic;
}

#team-picture img {
    display: block;
    width: 60%;
    height: 80%;
}

#history-text {
  display: flex;
  height: auto;
  width: 100%;

}

#history-text h2 {
    width: 80%;
}

#mision-and-vision {
    background-color: #080403;
    float: left;
    width: 100%;
    height: 30%;
    display: flex;
}
/*          LARA                */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

.ftwi{
  font-family: 'Old Standard TT', serif;
  display: flex;
  height: 100%;
  width: 100%;
}

#ddi{
  margin: 0;
  float: left;
  background-image: url('../image/nosotros/n1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

#dii{
  margin: 0;
  float: left;
  background-image: url('../image/nosotros/n4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#ti1{
  margin: 0;
  float: left;
  color: #fcf4f9;
  background-color: #080403;
}

#ti2{
  margin: 0;
  float: left;
  color: #080403;
  background-color: #fcf4f9;
}

@media only screen and (max-width: 768px) {
  .tex_img_b, .divtxt, .divimg{
    width: 100%;
  }
  .tex_img_b{
    height: 700px;
  }
  .divimg, .divtxt{
    width: 100%;
    height: 350px;
  }
}

.histext{
  margin: auto;
  padding: 1em;
  font-size: 2ex;;
}

.toimg{
  color: #fcf4f9;
}
@media only screen and (min-width: 768px){
    .tex_img_b{
      width: 100%;
      height: 350px;
      padding: 0;
      margin: 0;
    }
    .divimg, .divtxt{
      width: 50%;
      height: 100%;
    }
}

#pif{
  padding: 0;
  margin: 0;
  height: 500px;
  background-image: url('../image/productos/louver/louver8.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

#sif{
  padding: 0;
  margin: 0;
  height: 500px;
  background-image: url('../image/productos/mampara/mampara15.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.tiMV{
  height: 5em;
  background-color: #080403;
}

.tmv{
  margin-top: 1ch;
  font-weight: bold;
  color: #fcf7f9;
}

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,700;1,400&display=swap');

.mvt{
  font-family: 'Old Standard TT', serif;
  border-width: 3px;
  border: solid;
  border-color: #080403;
  background-color: #fcf4f9;
  color: #080403;
}

.histexti{
    text-align: center;
    background-color: rgba(0,0,0,0.50);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    font-size: 17px;
}

@media only screen and (min-width: 769px) {
  #pif{
    padding: 0;
    margin: 0;
    height: 500px;
    background-image: url('../image/productos/louver/louver8.JPG');
    background-repeat: no-repeat;
    background-size: cover;
  }

  #sif{
    padding: 0;
    margin: 0;
    height: 500px;
    background-image: url('../image/productos/mampara/mampara15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .histexti{
    text-align: center;
    background-color: rgba(0,0,0,0.50);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    font-size: 17px;
  }
}

/*            LARA              */
#mision-div {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#vision-div {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.title-section {
    width: 100%;
    text-align: center;
}

.text-section {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.text-section h3 {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #upper-text-text {
        width: 100%;
        height: auto;
    }

    #upper-text-text h3{
      font-size: 2ch;
    }

    #histH{

    }

    #upper-text-image {
        width: 100%;
        height: auto;
    }

    #mision-and-vision {
        flex-flow: column;
        height: 50%;
    }

    #mision-div {
      width: 100%;
    }

    #vision-div {
        width: 100%;
    }

    #team-picture {
        float: left;
        width: 100%;
        height: 25%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    }

    #team-picture img {
        width: 86%;
    }

    .text-section h3 {
        width: 100%;
        font-size: 35px;
    }

}

@media screen and (max-width: 380px) {
  .histexti{
    text-align: center;
  }

    #upper-text-text h3{
      line-height: normal;
        font-size: 1rem;
    }

    #team-picture img {
        width: 90%;
    }

}
