#main-content {
    margin-top: 7.4vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 200%;
    background-color: rgb(33, 54, 83);
}

#catalog-zone {
    margin-top: 4vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 150%;
    background-color: rgb(33, 54, 83);
}

#Fondo_contenedor{
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 501;
}

#Fondo_contenedor_clickeable{
    width: 100%; 
    height: 100%;
    position: absolute;
    z-index: 1;
}

#contenedor_Carrucel{
    z-index: 2; 
    position: absolute;
    max-width: 1000px;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 20%;
    height: 10%;
    
}

.product-container img {
    width: 100%;
    max-height: 100%;
    display: block;
    cursor:pointer;
}

#id_prev{
    cursor:pointer;
}

#id_next{
    cursor:pointer;
}



@media screen and (max-width: 650px) {
    body {
        height: 100%;
    }
    #main-content {
        overflow: auto;
    }
    .product-container {
        width: 44%;
        height: 10%;
    }
}